body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:96px;
  width:92px;
  height:33px;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:319px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:995px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:144px;
  height:995px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:141px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u1200_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1200_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:106px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:177px;
  width:128px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u1205_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:142px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u1209_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1209_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:178px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:249px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u1214_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1214_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:214px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:285px;
  width:128px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u1217_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1217_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:250px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:2px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:128px;
  width:1719px;
  height:1px;
  font-size:9px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:96px;
  width:92px;
  height:33px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:232px;
  width:103px;
  height:18px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:275px;
  width:195px;
  height:18px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:368px;
  width:195px;
  height:18px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:412px;
  width:195px;
  height:18px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:456px;
  width:263px;
  height:18px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:262px;
  width:525px;
  height:1px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:303px;
  width:525px;
  height:1px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:399px;
  width:525px;
  height:1px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:442px;
  width:525px;
  height:1px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:486px;
  width:525px;
  height:1px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:500px;
  width:195px;
  height:18px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:530px;
  width:525px;
  height:1px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:587px;
  width:195px;
  height:18px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:618px;
  width:525px;
  height:1px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:763px;
  width:292px;
  height:18px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:793px;
  width:525px;
  height:1px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:544px;
  width:195px;
  height:18px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:574px;
  width:525px;
  height:1px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:144px;
  width:183px;
  height:18px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:174px;
  width:525px;
  height:1px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:188px;
  width:184px;
  height:18px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:218px;
  width:525px;
  height:1px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:853px;
  width:85px;
  height:32px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:631px;
  width:195px;
  height:18px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:662px;
  width:525px;
  height:1px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:675px;
  width:195px;
  height:18px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:705px;
  width:525px;
  height:1px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:719px;
  width:195px;
  height:18px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:749px;
  width:525px;
  height:1px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:853px;
  width:85px;
  height:32px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:324px;
  width:195px;
  height:18px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:2px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:352px;
  width:525px;
  height:1px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:324px;
  width:195px;
  height:18px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
