body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:85px;
}
#u2114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:24px;
  width:319px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:995px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:144px;
  height:995px;
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:141px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u2117_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2117_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u2120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:106px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:177px;
  width:128px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u2122_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:142px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:213px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u2126_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2126_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:57px;
  width:80px;
  height:25px;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:178px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:249px;
  width:128px;
  height:85px;
  overflow:hidden;
  visibility:hidden;
}
#u2131_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:85px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2131_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:214px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:285px;
  width:128px;
  height:60px;
  overflow:hidden;
  visibility:hidden;
}
#u2134_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2134_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:3px;
  width:80px;
  height:25px;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:30px;
  width:80px;
  height:25px;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:250px;
  width:128px;
  height:35px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
